#!/usr/bin/make -f
# -*- makefile -*-
#
# Copyright (c) 2003-2011 LOGILAB S.A. (Paris, FRANCE).
# http://www.logilab.fr/ -- mailto:contact@logilab.fr

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/python/python.mk

PYLIB:=$(call py_libdir,$(shell pyversions -d))
PACKAGE:=$(call py_pkgname,python-logilab-database,python)
PYLIB3:=$(call py_libdir,python3.)
PACKAGE3:=$(call py_pkgname,python-logilab-database,python3.)

%:
	dh $@ --with python2,python3

override_dh_auto_install:
	NO_SETUPTOOLS=1 python setup.py -q install --no-compile \
					--root=$(CURDIR)/debian/$(PACKAGE)/ \
					${py_setup_install_args}
	NO_SETUPTOOLS=1 python3 setup.py -q install --no-compile \
					--root=$(CURDIR)/debian/$(PACKAGE3)/ \
					${py_setup_install_args}
	# remove sub-package __init__ file
	rm $(CURDIR)/debian/$(PACKAGE)/$(PYLIB)/logilab/__init__.py
	rm $(CURDIR)/debian/$(PACKAGE3)/$(PYLIB3)/logilab/__init__.py
	# remove test directory
	rm -r $(CURDIR)/debian/$(PACKAGE)/$(PYLIB)/logilab/database/test
	rm -r $(CURDIR)/debian/$(PACKAGE3)/$(PYLIB3)/logilab/database/test

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# PYTHON 2.X + PYTHON 3.2
endif

override_dh_installdocs:
	dh_installchangelogs -A -i ChangeLog
	dh_installdocs -A -i README*

